/*MASTER STYLESHEET*/

@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Space+Mono);

html {
  min-height: 100%;
  height: 100%;
}

body {
  height: calc(100vh - 8em);
  background-color: rgba(33,
      37,
      43, 0.8);
  color: #89EDA4;
  align-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  align-self: center;
  font-family: 'Rancho';
  background-image: url("../assets/img/my_bg_blurred.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
}


.master_ {
  width: 100%;
  height: 100%;
  background-color: rgba(33,
      37,
      43, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.key_animation h1 {
  overflow: hidden;
  border-right: 2.5px solid transparent;
  white-space: initial;
  cursor: pointer;
  margin: 0 auto;
  letter-spacing: 4px;
  animation:
    blinker 0.45s steps(23),
    blinker-caret 0.75s steps(20) infinite;
}

.key_animation_sub h2 {
  color: #FFFF;
  overflow: hidden;
  border-right: 1.5px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  margin: 1 auto;
  /*override*/
  letter-spacing: 2.5px;
  opacity: 0;
  animation:
    0.8s show_element_animation forwards,
    blinker 0.45s steps(45),
    blinker-caret 0.75s steps(20) infinite;
  animation-delay: 550ms;
}

@keyframes show_element_animation {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blinker {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blinker-caret {

  from,
  to {
    border-color: transparent
  }
}

a {
  color: #89EDA4;
  text-decoration: none;
}

a:visited {
  color: #89EDA4;
  text-decoration: none;
}

.header_text {
  font-size: 60px;
}

h2 {
  font-size: 27px;
}